<footer class="py-2 bg-black position-absolute bottom-0 start-0 end-0">
    <div class="container">
      <div class="content d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="fw-400 fs-16 m-0 text-white">Copyright Â© {{data}} <span class="text-main">Simone.</span> All Rights Reserved.</p>
        <ul class="d-flex">
          <li><a class="p-2 border-end text-white" href="#">Terms & Policy</a></li>
          <li><a class="p-2 text-white" href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </footer>