<section class="services bg-light py-5" id="What">
    <div class="container">
      <div class="text-item">
        <div class="item position-relative d-flex justify-content-center align-items-center">
          <h2 class="fw-600">SERVICES</h2>
          <p class="position-absolute fw-600 fs-35">What I Do?</p>
        </div>
        <span class="d-block bg-main fit-content mx-auto"></span>
      </div>
      <div class="row mt-5 gy-4">
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-gauge text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">Graphic Design</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-display text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">Web Design</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-pen-ruler text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">UI/UX Design</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-paintbrush text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">App Design & Develop</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-chart-area text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">Business Analysis</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box d-flex align-items-start">
            <div class="icon flex-shrink-0 d-flex justify-content-center align-items-center bg-white shadow">
              <i class="fa-solid fa-bullhorn text-main fa-2x"></i>
            </div>
            <div class="text ps-3">
              <h4 class="fw-500 fs-20 text-dark">SEO Marketing</h4>
              <p class="fs-16 fw-400 text-p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>