<section class="contact py-5 bg-light" id="Contact">
    <div class="container">
      <div class="text-item">
        <div class="item position-relative d-flex justify-content-center align-items-center">
          <h2 class="fw-600">CONTACT</h2>
          <p class="position-absolute fw-600 fs-35">Get in Touch</p>
        </div>
        <span class="d-block bg-main fit-content mx-auto"></span>
      </div>

      <div class="row mt-5 flex-md-row flex-column-reverse gy-4">
        <div class="col-md-4 text-center text-md-start">
          <h3 class="fs-20 fw-500">ADDRESS</h3>
          <ul class="mt-4">
            <li class="fw-400 fs-16 text-p">4th Floor, Plot No.22,</li>
            <li class="fw-400 fs-16 text-p">145 Murphy Canyon Rd</li>
            <li class="fw-400 fs-16 text-p">San Diego CA 2028</li>
          </ul>
          <ul class="mt-4">
            <li class="fw-400 fs-16 text-p">
              <i class="fas fa-phone text-main me-2"></i>
              (060) 444 434 444
            </li>
            <li class="fw-400 fs-16 text-p">
              <i class="fas fa-tty text-main me-2"></i>
              (060) 555 545 555
            </li>
            <li class="fw-400 fs-16 text-p">
              <i class="fas fa-envelope text-main me-2"></i>
              chat@simone.com
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h3 class="fs-20 fw-500">SEND US A NOTE</h3>
          <div class="row gy-4">
            <div class="col-md-6">
              <input class="form-control shadow-none form-control-lg" type="text" name="name" placeholder="Name">
            </div>
            <div class="col-md-6">
              <input class="form-control shadow-none form-control-lg" type="email" name="Email" placeholder="Email">
            </div>
            <div class="col-md-12">
              <textarea class="form-control shadow-none">

              </textarea>
            </div>
            <div class="col-md-12  text-center">
              <button class="btn bg-main text-white px-5 py-3 rounded-pill">SEND MASSAGE</button>
            </div>

          </div>

        </div>
      </div>



    </div>
  </section>