<section class="test py-5" id="Client">
    <div class="container">
      <div class="text-item">
        <div class="item position-relative d-flex justify-content-center align-items-center">
          <h2 class="fw-600">TESTIMONIAL</h2>
          <p class="position-absolute fw-600 fs-35">Client Speak</p>
        </div>
        <span class="d-block bg-main fit-content mx-auto"></span>
      </div>


      <div id="carouselExampleIndicators" class="carousel slide mt-5">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box p-4 bg-light">
              <div class="row gy-3">
                  <div class="col-12 d-flex align-items-center">
                      <div class="image rounded-circle overflow-hidden">
                        <img class="img-fluid" src="./assets/img/client-sm-1.jpg" alt="">
                      </div>
                      <div class="text ms-3">
                        <h3 class="fw-600 fs-16 text-dark">Dennis jacues</h3>
                        <p class="fw-500 fs-16 text-p m-0">User from USA</p>
                      </div>
                  </div>
                  <div class="col-12">
                    <p class="fs-16 fw-500 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus distinctio cumque quibusdam. Temporibus aperiam repellat quibusdam dolore? Perferendis pariatur perspiciatis, fugiat ullam labore exercitationem!</p>
                  </div>
                  <div class="col-12">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </div>
    
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box p-4 bg-light">
              <div class="row gy-3">
                  <div class="col-12 d-flex align-items-center">
                      <div class="image rounded-circle overflow-hidden">
                        <img class="img-fluid" src="./assets/img/client-sm-2.jpg" alt="">
                      </div>
                      <div class="text ms-3">
                        <h3 class="fw-600 fs-16 text-dark">Dennis jacues</h3>
                        <p class="fw-500 fs-16 text-p m-0">User from USA</p>
                      </div>
                  </div>
                  <div class="col-12">
                    <p class="fs-16 fw-500 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus distinctio cumque quibusdam. Temporibus aperiam repellat quibusdam dolore? Perferendis pariatur perspiciatis, fugiat ullam labore exercitationem!</p>
                  </div>
                  <div class="col-12">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box p-4 bg-light">
              <div class="row gy-3">
                  <div class="col-12 d-flex align-items-center">
                      <div class="image rounded-circle overflow-hidden">
                        <img class="img-fluid" src="./assets/img/client-sm-3.jpg" alt="">
                      </div>
                      <div class="text ms-3">
                        <h3 class="fw-600 fs-16 text-dark">Dennis jacues</h3>
                        <p class="fw-500 fs-16 text-p m-0">User from USA</p>
                      </div>
                  </div>
                  <div class="col-12">
                    <p class="fs-16 fw-500 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus distinctio cumque quibusdam. Temporibus aperiam repellat quibusdam dolore? Perferendis pariatur perspiciatis, fugiat ullam labore exercitationem!</p>
                  </div>
                  <div class="col-12">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </div>
    
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box p-4 bg-light">
              <div class="row gy-3">
                  <div class="col-12 d-flex align-items-center">
                      <div class="image rounded-circle overflow-hidden">
                        <img class="img-fluid" src="./assets/img/client-sm-4.jpg" alt="">
                      </div>
                      <div class="text ms-3">
                        <h3 class="fw-600 fs-16 text-dark">Dennis jacues</h3>
                        <p class="fw-500 fs-16 text-p m-0">User from USA</p>
                      </div>
                  </div>
                  <div class="col-12">
                    <p class="fs-16 fw-500 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ducimus distinctio cumque quibusdam. Temporibus aperiam repellat quibusdam dolore? Perferendis pariatur perspiciatis, fugiat ullam labore exercitationem!</p>
                  </div>
                  <div class="col-12">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </div>
    
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators position-static mt-3">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
      </div>
    </div>
  </section>