<section class="resume py-5" id="Resume">
    <div class="container">
      <div class="text-item">
        <div class="item position-relative d-flex justify-content-center align-items-center">
          <h2 class="fw-600">SUMMARY</h2>
          <p class="position-absolute fw-600 fs-35">Resume</p>
        </div>
        <span class="d-block bg-main fit-content mx-auto"></span>
      </div>

      <div class="row mt-4 gy-4">
        <div class="col-md-6">
          <h3>My Education</h3>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2000 - 2004</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Computer Science</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">International University</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2005 - 2008</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Bachelor Degree</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">University of California</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2009 - 2012</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Master Degree</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">Harvard University</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>

        </div>
        <div class="col-md-6">
          <h3>My Experience</h3>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2012 - 2013</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Jr. UI UX Designer</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">IThemeforest</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2014 - 2016</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Jr. Product Designer</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">Dribbble</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>
          <div class="box border rounded-2 p-4 mt-4">
            <span class="d-block fit-content bg-main px-1 rounded-2 text-white fw-400">2017 - 2019</span>
            <h4 class="fw-500 fs-20 lh-25 mt-2">Product Designer</h4>
            <p class="fw-400 fs-16 lh-30 text-danger">Adobe</p>
            <p class="fs-16 fw-400 lh-30 m-0">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          </div>

        </div>
        <div class="col-12">
          <h3 class="fw-600 fs-25 m-12">My Skills</h3>
        </div>
        <div class="col-md-6 mt-0">
          <div class="box-bar1">
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>Web Design</p><p>65%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>HTML/CSS</p><p>95%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>JavaScript80</p><p>80%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
          </div>
        </div>
        <div class="col-md-6 mt-0">
          <div class="box-bar2">
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>React JS</p><p>70%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>Angular Js</p><p>60%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
            <div class="d-flex justify-content-between align-items-center fw-500 fs-16 mt-4"><p>Bootstrap</p><p>99%</p></div>
            <div class="w-100 bg-light rounded-pill h-10 overflow-hidden"><span class="bg-main h-100 d-block"></span></div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button class="btn text-p border border-2 py-3 px-5 rounded-pill">Download CV <i class="fas fa-download ms-2"></i></button>
        </div>
      </div>

    </div>
  </section>