<header class="vh-100" id="Home">
    <div class="layer h-100">
      <div class="container h-100 d-flex justify-content-center align-items-center position-relative">
        <div class="content text-center">
          <h3 class="fw-500 fs-30 text-white">Welcome</h3>
          <h1 class="text-white fw-600 fs-h py-3">I'm a Freelancer.|</h1>
          <p class="fw-400 fs-20 text-white-50">based in Los Angeles, California.</p>
          <a class="py-3 px-5 mt-3 rounded-pill border border-2 text-main fw-500 fs-16 d-inline-block border-main" href="#">Hire Me</a>
        </div>
        <span class="d-block position-absolute bottom-0 start-50 translate-middle-x">
          <a class="h-70 text-white" href="#About">
            <i class="fas fa-angles-down"></i>
          </a>
        </span>
      </div>
    </div>
  </header>